/*============ Сброс стилей =============*/
* 
{
margin: 0;
}
html, body
{
height: 100%;
}
.clearfix::after
{
    content: "";
    display: table;
    clear: both;

}
a{text-decoration: none;}
/*============ Основные стили =============*/
body
{
background: #fff;
color: #222;
display: flex;
flex-direction: column;
    font: 16px/24px Arial,Tahoma,sans-serif;
}
.header
{
height: 100px;
background: red;
flex-grow: 0;
}
.menu
{
background: green;
}
.content
{
background: white;
flex-grow: 1;
text-align: justify;
}
.footer
{
flex-grow: 0;
background: blue;
}
.mid
{
    width: 90%;

    margin: 0 auto;
}
/*============ Шапка =============*/
/*============ Меню =============*/
.logo
{
    margin-left: 10px;
    margin-top: 4px;
    border: none;
}
.menu
{
    float: right;
    height: 100px;
    line-height: 100px;
}
.links
{
    text-decoration: none;
    margin-right: 8px;
    color: white;
    font-size: 14pt;
    padding: 2px;
    text-transform: uppercase;
}
.links:hover
{
    color: blue ;
}
.menu ul
{
padding: 0;
    height: 100px;
}
.menu ul li
{
    list-style: none;
    display: inline;
}


/*============ Контент =============*/
.fon
{
 background: #fff ; border: 1px solid #cccccc; border-top: none; padding: 5%; border-bottom:  none; height: 400px;
}
div.block
{
    width: 340px;
    height: 100%;
    float: right;
}
div.block:nth-last-of-type(even) {float: left}
.anons {background: #f5f5 ; border: 1px solid #cccccc; padding: 20px;border-radius: 3px; text-align: center}

.info-k{float: left;}
.text-k {background: #f5f5 ; border: 1px solid #cccccc; padding: 20px;border-radius: 3px; text-align: center}
/*============ Футер =============*/
.footer{
}
.footer h1
{
    text-transform: uppercase;
font-size: 14px;
    text-align: center;
    color: azure;
}